@import '../../../styles/fonts';
@import '../../../styles/vars';

.major-hyperlink {
  display: block;
  position: relative;
  top: calc(-5.25rem - 2.25rem); // Header height offset and padding
  visibility: hidden;
}

.major-card {
  color: $color-neutrals-black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 50rem;

  &:first-child {
    margin-top: 0;
  }

  &-photo {
    flex-shrink: 0;
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }

  &-top {
    align-items: center;
    background-color: $color-primary-navy;
    display: flex;
    padding: 1rem 3rem;
  }

  &-heading {
    @include font-heading-3;
    color: $color-neutrals-white;
    margin-right: 1.5rem;
    max-width: 60%;
  }

  &-tag {
    @include font-small-button-text;
    background-color: $color-primary-dark-yellow;
    border-radius: 3.35rem;
    color: $color-primary-navy;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
  }

  &-bottom {
    background-color: $color-neutrals-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }

  &-description {
    width: 29rem;
  }

  &-subheading {
    @include font-subtitle-1;
  }

  &-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
  }

  &-link {
    margin-top: 0.5rem;

    &,
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active { // Selectors are needed to override css reset styling
      @include font-linked-text;
    }

    &-arrow {
      margin-left: 0.5rem;
    }
  }
}
