/* General styling for text */
.text-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.text-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.text-reg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* End of general styling for text */

.host {
  width: 77%;
  margin: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 116px;
}

.header-bar {
  width: 24px;
  height: 4px;
  background-color: $orange;
  border: none;
  margin: 16px auto 64px auto;
}

.section-header {
  color: $textblue;
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}

.link-btn {
  background: $darkblue;
  width: 320px;
  min-width: 320px;
  height: 56px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-top: 13px;
  text-align: center;
  display: block;
  border: none;
  outline: none;
  box-shadow: 0 4px $textblue;
}

.link-btn:hover {
  text-decoration:none;
  color: white;
  box-shadow: 0 6px $textblue;
  transform: translateY(-2px);
}

.link-btn:active {
  box-shadow: 0 1px $textblue;
  transform: translateY(3px);
}
@media (max-width: $lg) {
  .section {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .header-bar {
    margin-bottom: 48px;
  }

  .link-btn {
    margin: 48px auto 0 auto;
  }
}

@media (max-width: $md) {
  .host {
    width: 85%;
  }

  .section {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .section-header {
    font-size: 24px;
  }

  .header-bar {
    margin: 8px auto 32px auto;
    width: 18px;
    height: 3px;
  }

  .link-btn {
    font-size: 16px;
    padding-top: 15px;
    width: 100%;
  }
}
