.majors {
  aside {

    .link-btn {
      margin-left:0;
    }

    ul {
      padding: 0;

      li {
        color: $textblue;
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
      }

      li:hover:not(.active) {
        color: $aquablue;
        list-style-type: initial;
      }

      li.active {
        color: $orange;
        list-style-type: initial;
      }
    }
  }

  main {
    img {
      display: none;
    }

    img.active {
      display: unset;
      width: 100%;
    }

    div {
      display: flex;
      justify-content: space-between;

      @media (max-width: $sm) {
        min-height: 152px;
      }

      article {
        width: 80%;
        background: white;
        padding: 40px;
        box-shadow: 0 4px 0 $shadow;

        h1 {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.2em;
          margin-bottom: 20px;

          @media (max-width: $sm) {
            font-size: 20px;
            margin-bottom: 0;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: normal;
          display: none;
          line-height: 1.5;
        }

        h2.active {
          @media (max-width: $sm) {
            display: none;
          }
          display: initial;
        }
      }

      a {
        width: 20%;
        background-color: $darkblue;
        box-shadow: 0 4px 0 $textblue;
        border: none;
        display: none;

        i {
          position: relative;
          top: 50%;
          left: 50%;
          -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
          color: white;

          @media (max-width: $md) {
            font-size: 24px;
          }
        }
      }

      a.active {
          display: initial;
      }
    }
  }

  @media (max-width: $md) {
    p {
      padding: 32px;
    }

    nav {
      display: flex;
      justify-content: space-around;
      margin-top: 24px;
      text-align: center;

      i {
        color: $orange;
      }
    }
  }
}
