.majors {
  aside {

    .link-btn {
      margin-left:0;
    }

    ul {
      padding: 0;

      li {
        color: $textblue;
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
      }

      li:hover:not(.active) {
        color: $aquablue;
        list-style-type: initial;
      }

      li.active {
        color: $orange;
        list-style-type: initial;
      }
    }
  }

  main {
    img {
      display: none;
    }

    img.active {
      display: unset;
    }

    div {
      display: flex;
      justify-content: space-between;

      article {
        width: 80%;
        background: white;
        padding: 40px;

        h1 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 20px;
          font-weight: normal;
          display: none;
          line-height: 1.5;
        }

        h2.active {
          display: initial;
        }
      }

      button {
        width: 20%;
        background-color: $darkblue;
        border: none;
        outline: none;

        a {
          display: none;
        }

        a.active {
          display: initial;
        }

        i {
          color: white;
        }
      }
    }
  }

  @media (max-width: $md) {
    p {
      padding: 32px;
    }

    nav {
      margin-top: 24px;
      text-align: center;

      i {
        color: $orange;
        margin: 0 75px;
      }
    }
  }
}
