.orgs {
  main {
    display: flex;
    justify-content: space-between;

      img {
        height: 450px;
        width: 3500px;
        height: inherit;
        transform: translate3d(0, 0, 0);
      }

      img {
        animation: scrollacross 12s linear infinite;
      }

      @keyframes scrollacross {
        100% {
          transform: translateX(-72.2%);
        }
      }
    }

  .link-btn {
    margin: 64px auto 0px auto;
  }

  @media (max-width: $lg) {
    main {
      img {
        height: 300px;
        width: 3300px;
      }
    }

    .link-btn {
      margin-top: 48px;
    }
  }

  @media (max-width: $md) {
    main {
      img {
        height: 300px;
        width: 3000px;
      }
    }

    .link-btn {
      margin-top: 32px;
    }
  }
}
