.projects {
  background-color: $exlightblue;

  i {
    color: $orange;
  }

  main {
    display: flex;
    align-items: center;

    a {
      position: relative;
      width: 0;
    }
      
    a:nth-of-type(1) {
      right: 90px;
    }

    a:nth-of-type(2) {
      left: 50px;
    }

    .carousel-item.active {
      display: flex;
    }

    .carousel-item {
      justify-content: space-between;

      article {
        width: 30%;

        img {
          height: 256px;
          width: 100%;
        }

        @media (max-width: $xl) {
          img {
            height: 205px;
          }
        }

        div {
          //height: 254px;
          padding: 40px;

          h1, h2, h3 {
            color: $textblue;
            margin: 0;
          }

          h1 {
            font-size: 20px;
            font-weight: bold;
          }

          h2 {
            font-size: 16px;
            margin-top: 10px;
          }

          h3 {
            font-size: 16px;
            font-weight: bold;
            margin-top: 24px;
          }
        }
      }

      @media (max-width: $lg) {
        article {
          width: 45%;

          img {
            height: 233px;
          }
        }
      }

      @media (max-width: $md) {
        article {
          width: 100%;

          img {
            height: 360px;
          }

          div {
            padding: 32px;

            h2 {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 48px 0;

    ul {
      i {
        color: $textblue;
        font-size: 10px;
        margin: 0 10px;
      }
      i.active {
        color: $orange;
      }
    }

    
    a {
      margin: 0 50px;
    }
  }

  
  footer {
    display: flex;
    justify-content: space-between;
    
    p {
      color: $textblue;
      font-size: 20px;
      width: 60%;
    }
  }

  @media (max-width: $lg) {
    nav {
      margin: 36px 0;
    }

    footer {
      flex-direction: column;

      p {
        width: 100%;
        margin: 0;
      }
    }
  }
}