.projects {
  background-color: $exlightblue;

  i {
    color: $orange;
  }

  .carousel-inner {
    width: auto;

    .proj-card {
      img {
        height: 256px;
        width: 100%;
        object-fit: cover;
      }

      div {
        padding: 40px;
        background-color: white;

        h1, h2, h3 {
          margin: 0;
          line-height: 24px;
        }

        h1 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 24px;
        }

        h3 {
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;

    div {
      i {
        color: $textblue;
        font-size: 8px;
        margin: 0 10px;
      }

      i.active {
        color: $orange;
      }
    }
  }

  .link-btn {
    margin-top: 48px;
  }

  @media (max-width: $xl) {
    .carousel-inner .proj-card img {
      height: 205px;
    }
  }

  @media (max-width: $lg) {
    .carousel-inner .proj-card img {
      height: 233px;
    }

    nav {
      margin-top: 36px;
    }

    .link-btn {
      margin-top: 36px;
    }
  }

  @media (max-width: $md) {
    .carousel-inner {
      .proj-card {
        img {
          height: 360px;
        }

        div {
          padding: 32px;

          h1 {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }

    nav {
      margin-top: 24px;
    }

    .link-btn {
      margin-top: 24px;
    }
  }
}

