.resources {
  p {
    font-size: 18px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  @media (max-width: $md) {
    p {
      font-size: 16px;
      margin-bottom: 32px;
    }

    a.link-btn {
      margin-top: 0;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
