.resources {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    margin-bottom: 0;
  }

  @media (max-width: $md) {
    p {
      margin-bottom: 32px;
    }

    a.link-btn {
      margin-top: 0;
    }
  }
}
