.stories {
  .row {
    > div {
      background: $aquablue;

      div {
        padding: 96px;

        h2, h3 {
          color: white;
          font-weight: bold;
          line-height: 30px;
        }

        h2 {
          font-size: 24px;
        }
        
        h3 {
          font-size: 20px;
          margin: 0;
        }
  
        span {
          color: white;
          font-weight: normal;
        }
      }
    }
  }

  @media (max-width: $md) {
    .row {
      > div {
        div {
          padding: 64px;
        }

        h2, h3 {
          font-size: 18px;
        }
      }
    }
  }
}
