.stories {
  main {
    height: 352px;
    margin-top: 64px;
    background: $aquablue;

    img {
      padding: 0;
      width: 100%;
      height: auto;
    }

    div {
      padding: 96px;

      h2, h3 {
        color: white;
        font-weight: bold;
        line-height: 30px;
      }
      
      h2 {
        font-size: 24px;
      }
      
      h3 {
        font-size: 20px;
        margin: 0;
      }

      span {
        color: white;
        font-weight: normal;
      }
    }
  }

  .link-btn {
    margin: 64px auto 0 auto;
  }
  

  @media (max-width: $lg) {
    main {
      height: auto;
      margin-top: 48px;
    }

    .link-btn {
      margin-top: 48px;
    }
  }

  @media (max-width: $md) {
    main {
      margin-top: 32px;

      div {
        padding: 64px;

        h2, h3 {
          font-size: 18px;
        }
      }
    }

    .link-btn {
      margin-top: 32px;
    }
  }
}
