.title {
  /*background: $exlightblue;*/
  background: url("/img/splashes/splash_home.jpg") center no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding: 179px 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;

  h1, h2 {
    color: white;
    font-weight: bold;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 36px;
    margin: 0;
  }
}

@media (max-width: $lg) {
  .title {
    padding: 141px 0;

    h1 {
      font-size: 48px;
      margin-bottom: 12px;
    }
  
    h2 {
      font-size: 32px;
    }
  }
}

@media (max-width: $md) {
  .title {
    margin-top: 64px;
    padding: 112.5px 0;
    
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
}
