.title {
  /*background: $exlightblue;*/
  background: url("/img/splashes/splash_home.jpg") center no-repeat;
  background-size: cover;
  margin-top: 0!important;
  padding: 0!important;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;

  h1, h2 {
    color: white;
    font-weight: bold;
  }

  h1 {
    font-size: 64px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 36px;
    margin: 0;
  }

  a {
    position: absolute;
    top:50%;
    display: inline-block;
  }

  .control-next {
    right:0;
  }

  i {
    position: absolute;
    top:50%;
  }

  .fa-arrow-right {
    right: 0;
  }

  .fa-arrow-left {
    left: 0;
  }
}

#topCarousel {
  margin-top:70px;
}

@media (max-width: $lg) {
  .title {
    padding: 0!important;

    h1 {
      font-size: 48px;
      margin-bottom: 12px;
    }

    h2 {
      font-size: 32px;
    }
  }
}

@media (max-width: $md) {
  .title {
    margin-top: 0;
    padding: 0!important;

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
