extends ../template.pug

block style 
  link(rel='stylesheet' href ='/css/connect.css')

block main
  div(class='page-header')
    svg
      rect
      circle
    h1 Student Organizations
    
  div(class='container page-intro')
    div(class='row')
      p(class='col-10 offset-1') Student organizations allow for extracurricular experience, utilizing and extending skills imparted in computing courses. These groups demonstrate creative computing efforts by channeling the collaborative spirit of UC San Diego.
      
  p(class='orgs-banner') Explore these orgs
