extends ../template.pug

block style
  link(
    rel='stylesheet'
    href='/css/index.css'
  )

block main
  div(class='title')
    div(class='host')
      h1 Discover your path.
      h2 Find out how to make computing part of <br> your journey.
  
  div(class='stories section')
    div(class='host')
      h1(class='section-header') Stories &amp; Advice
      hr(class='header-bar')
      main(class='main')
        img(src='/img/temp1.svg')
        div
          h2 "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque."
          h3 Rachel Keirouz <span>| Math-Computer Science</span>
      footer
        p In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.
        a(class='link-btn' href='/stories.html') Link to rest of stories
       
  div(class='majors section')
    div(class='host')
      h1(class='section-header') The Majors
      hr(class='header-bar')
      section
        aside(class='hidden-sm-down')
          ul(id='major-list')
            div
              - for (let i = 0; i < 5; i++)
                li #{majorNames[i]}
              //- li Bioinformatics
              //- li Cognitive Science
              //- li Computer Engineering
              //- li Computer Science
              //- li Data Science
            div
              li Electrical Engineering
              li Interdisciplinary Computing and the Arts
              li Mathematics - Computer Science
              li Scientific Computation
          a(class='link-btn hidden-md-down' href='/') Link to all the majors
        main
          img(src='/img/temp1.svg')   
          div
            div
              h1(id='major-name') Interdisiciplinary Computing and the Arts 
              h2(id='major-hook') Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum.
            button
              i(class='fa fa-arrow-right fa-2x')
      nav(class='hidden-md-up')
        i(id='pre-major' class='fa fa-arrow-left fa-2x')
        i(id='next-major' class='fa fa-arrow-right fa-2x')
      a(class='link-btn hidden-lg-up' href='/') Link to all the majors
        
        
  div(class='orgs section')
    div(class='host')
      h1(class='section-header') Connect
      hr(class='header-bar')
      main
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
      a(class='link-btn' href='/') Link to all orgs
      
  div(class='projects section')
    div(class='host')
      h1(class='section-header') Triton Projects
      hr(class='header-bar')
      main
        a(class='prev-proj hidden-sm-down')
          i(class='fa fa-arrow-left fa-3x')
        div(id="carouselExampleControls" class="carousel slide")
          div(class="carousel-inner" role="listbox")
            - for (let i = 0; i < 10; i++)
              article 
                img(src='/img/temp1.svg')
                div
                  h1 Some Student Project
                  h2 Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed.
                  h3 Read more 
                    i(class='fa fa-arrow-right')
        a(class='next-proj hidden-sm-down')
          i(class='fa fa-arrow-right fa-3x')
      nav
        a(class='prev-proj hidden-md-up')
          i(class='fa fa-arrow-left fa-2x')
        ul(class='hidden-sm-down')
        a(class='next-proj hidden-md-up')
          i(class='fa fa-arrow-right fa-2x')
      footer
        p In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.
        a(class='link-btn' href='/projects.html') Link to projects
      
      
  div(class='resources section')
    div(class='host')
      h1(class='section-header') Find Out More
      hr(class='header-bar')
      main
        div
          h1 Events
          p Some brief description about how there’s lots of useful resources.
        div
          h1 Facilities
          p Some brief description about how there’s lots of cool facilities.  
      a(class='link-btn' href='/') Link to resources

  script(src='/js/index.js')
