extends ../template.pug

block style 
  link(rel='stylesheet' href ='/css/majors.css')

block main
  div(class='page-header')
    svg
      rect
      circle
    h1 The Majors
  
  div(class='container page-intro')
    div(class='row')
      p(class='col-10 offset-1') This is the majors page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.
  
  p(class='major-banner') Explore these majors
