extends ../template.pug

block style
  link(
    rel='stylesheet'
    href='/css/projects.css'
  )
  
block main
  div(class='intro')
    h1 Projects
      
  div(class='intro-text')
    h2  This is the projects page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.
      
  div(class='projectsection')
    div(class='projectcard')
      img(src='/img/temp3.svg' alt='+')
      div(class='card')
        div(class='cardheading')
        div(class='cardinformation')
        div(class='cardtag')