extends ../template.pug

block style
  link(
    rel='stylesheet'
    href='/css/projects.css'
  )
  
block main
  div(class='intro')
    h1 Projects
      
  div(class='intro-text')
    h2  This is the projects page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.
      
  div(class='projectsection')
    div(class='projectcard')
      img(src='/img/temp3.svg' alt='+')
      div(class='cardinfo')
        div(class='cardheading')
          p MyWebApp  |  Caris Wei / Computer Science
        div(class='carddescription')
          p Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Donec facilisis tortor ut augue lacinia, at viverra est semper. 
          hr
          div(class='tags')
            p CSE, DSE