extends ../template.pug

block style
  link(
    rel='stylesheet'
    href='/css/projects.css'
  )
  
block main
  div(class='intro')
    h1 Triton Projects
      
  div(class='intro-text')
    h2  This is the projects page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.
      
  section
    a(href='#openModal')
      div(class='projectcard')
        img(src='/img/temp3.svg' alt='+')
        div(class='cardinfo')
          div(class='cardheading')
            h3 MyWebApp
              p &emsp;|&emsp;CSES
          div(class='projectdescription')
            p Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. 
          hr
          div(class='tags')
            div(class='colorbackground') Web Application
            div(class='colorbackground') Hardware
            
    div(id='openModal' class='modal')
      div
        a(href='#close' title='Close' class='close') X
        p sample text
        img(src='/img/temp3.svg' alt='+')          