extends ../template.pug

block style
	link(
		rel='stylesheet'
		href='/css/resources.css'
	)
block main
	div(class='page-header')
		svg
			rect
			circle
		h1 Facilities &amp; Resources

	div(class="res-banner")

		div(class="container")

			div(class="row")

				div(class="col-md-1 res-control-container")
					a(class="carousel-control" href="#")
						i(class='fa fa-arrow-left fa-3x')

				div(id="carouuselExampleControls" class="carousel slide col-md-10" data-ride="carousel")
					
					div(class="carousel-inner" role="listbox")
						div(class="carousel-item active")
							img(src='/img/temp3.svg')


						div(class="carousel-item")
							img(src='/img/temp3.svg')


						div(class="carousel-item")
							img(src='/img/temp3.svg')

				div(class="col-md-1 res-control-container")
					a(class="carousel-control float-right" href="#")
						i(class='fa fa-arrow-right fa-3x')

			div(class="row")
				div(class="col-xs-8 col-md-6 offset-md-1 res-carousel-caption")
					a(href="#")
						h2 Resource Name

				div(class="col-xs-4 col-md-4")


	div(class="res-browse")
		h1 Browse our expansive list of resources


	div(class="res-sidebar")
		h3 Academic Suport
		h3 Buildings
		h3 Events 
		h3 Showcases
		h3 Equipment
		h3 Workspaces

	section

		div(id="accordion" role="tablist" aria-multiselectable="true")






			div(class="card")
				div(role="tab" id="heading-1")
					//-link to map
					a(href="maps.ucsd.edu")
						img(src="/img/temp3.svg" alt="+")
					a(data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1")
						div(class="res-card")
							div(class="cardinfo")
								div(class="card-head")
									h3 Calculus Lab
									div(class="tags")
										div(class='colorbackground') Workspaces
										//-place spacer in between to separate tags
										div(class="tag-spacer")
										div(class="colorbackground") Academic Support	
				div(id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1")
					div(class="card-block")
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic 





			div(class="card")
				div(role="tab" id="heading-2")
					//-link to map
					a(href="maps.ucsd.edu")
						img(src="/img/temp3.svg" alt="+")
					a(data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2")
						div(class="res-card")
							div(class="cardinfo")
								div(class="card-head")
									h3 Calculus Lab

									div(class="tags")
										div(class='colorbackground') Workspaces
				div(id="collapse-2" class="collapse show" role="tabpanel" aria-labelledby="heading-2")
					div(class="card-block")
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic 



			div(class="card")
				div(role="tab" id="heading-3")
					//-link to map
					a(href="maps.ucsd.edu")
						img(src="/img/temp3.svg" alt="+")
					a(data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3")
						div(class="res-card")
							div(class="cardinfo")
								div(class="card-head")
									h3 Calculus Lab

									div(class="tags")
										div(class='colorbackground') Workspaces
				div(id="collapse-3" class="collapse show" role="tabpanel" aria-labelledby="heading-3")
					div(class="card-block")
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic 






