extends ../template.pug

block style
	link(
		rel='stylesheet'
		href='/css/resources.css'
	)
block main
	div(class='intro')
		h1 Facilities and Resources

	div(class="res-banner")
		div(class="res-banner-title")

			a(class="prev-proj hidden-sm-down")
				i(class='fa fa-arrow-left fa-3x')
			div(id="carouuselExampleControls" class="carousel slide" data-ride="carousel")
				
				div(class="carousel-inner" role="listbox")
					div(class="carousel-item active")
						img(src='/img/temp3.svg')
						h1 Name of Resource1

					div(class="carousel-item")
						img(src='/img/temp3.svg')
						h1 Name of Resource2

					div(class="carousel-item")
						img(src='/img/temp3.svg')
						h1 Name of Resource3


			a(class="left carousel-control" href="#myCarousel" data-slide="prev")
				i(class='fa fa-arrow-right fa-3x')


	div(class="res-browse")
		h1 Browse our expansive list of resources

	section
		div(class='resource-card')
			img(src='/img/temp3.svg')
			
