extends ../template.pug

block style
	link(
		rel='stylesheet'
		href='/css/resources.css'
	)
block main
	div(class='intro')
		h1 Resources and Facilities

	div(class='intro-text')
		h2 test test test

	section
		div(class='resource-card')
			img(src='/img/temp3.svg')
