extends ../template.pug

block style
	link(
		rel='stylesheet'
		href='/css/resources.css'
	)
block main
	div(class="page-header")
		h1 Facilities and Resources

	div(class="res-banner")

		div(class="container")

			div(class="row")

				div(class="col-md-1 res-control-container")
					a(class="carousel-control" href="#")
						i(class='fa fa-arrow-left fa-3x')

				div(id="carouuselExampleControls" class="carousel slide col-md-10" data-ride="carousel")
					
					div(class="carousel-inner" role="listbox")
						div(class="carousel-item active")
							img(src='/img/temp3.svg')


						div(class="carousel-item")
							img(src='/img/temp3.svg')


						div(class="carousel-item")
							img(src='/img/temp3.svg')

				div(class="col-md-1 res-control-container")
					a(class="carousel-control float-right" href="#")
						i(class='fa fa-arrow-right fa-3x')

			div(class="row")

				div(class="col-xs-8 col-md-6 offset-md-1 res-carousel-caption")
					a(href="#")
						h2 Resource Name

				div(class="col-xs-4 col-md-4")


	div(class="res-browse")
		h1 Browse our expansive list of resources


	div(class="res-sidebar")
		h3 Academic Suport
		h3 Buildings
		h3 Events	
		h3 Showcases
		h3 Equipment
		h3 Workspaces

	section

		div(class="test")
			div(class='res-card')
				img(src='/img/temp3.svg' alt='+')
				div(class='cardinfo')
					div(class='cardheading')
						h3 Calculus Lab
		
						div(class='tags')
							div(class='colorbackground') Workspaces
							div(class='colorbackground') Academic Support

		div(class="test")
			div(class='res-card')
				img(src='/img/temp3.svg' alt='+')
				div(class='cardinfo')
					div(class='cardheading')
						h3 OASIS TRIO SSSP & Summer Experience
	
					div(class='tags')
						div(class='colorbackground') Academic Support
						div(class='colorbackground') Events

		div(class="test")
			div(class='res-card')
				img(src='/img/temp3.svg' alt='+')
				div(class='cardinfo')
					div(class='cardheading')
						h3 Resource Test
	
					div(class='tags')
						div(class='colorbackground') Workspaces
						div(class='colorbackground') Buildings









