extends ../template.pug

block append style 
  link(
    rel='stylesheet'
    href ='/css/stories.css'
  )
    
block main
  div(class='page-header')
    div(class='host')
      h1 Stories & Advice
  
  div(class='page-description')
    div(class='host')
      h2 Let the student know that there is no one computing path. This is the stories page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.
      
  div(class='main-story')
    div(class='video')
      div(class='host')
        img(src='/img/temp1.svg')
    div(class='vid-info')
      div(class='host')
        p Rachel Keinouz 
        p Math-Computer Science  |  Class of 2017
        div(class='vid-text')
          div(class='description')
            p Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc.
          div(class='quote')
            p "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit.”

  div(class='more-stories')  
    div(class='stories-header')            
      div(class='host')
        h1(class='section-header') More Stories
        hr(class='header-bar')      
    div(class='story left')
      div(class='sub-host')
        div(class='story-photo')
          img(class='img-circle' src='/img/temp4.svg')
        div(class='story-content')
          p "Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.”
          h1 Chyeim Jackson-Burgess
          h2 Computer Science Engineering  |  Class of 2017
    div(class='story right')
      div(class='sub-host')
        div(class='story-content')
          p "Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.”
          h1 Chyeim Jackson-Burgess
          h2 Computer Science Engineering  |  Class of 2017 
        div(class='story-photo')
          img(class='img-circle' src='/img/temp4.svg')
    div(class='story left')
      div(class='sub-host')
        div(class='story-photo')
          img(class='img-circle' src='/img/temp4.svg')
        div(class='story-content')
          p "Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.”
          h1 Chyeim Jackson-Burgess
          h2 Computer Science Engineering  |  Class of 2017
    div(class='story right')
      div(class='sub-host')
        div(class='story-content')
          p "Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.”
          h1 Chyeim Jackson-Burgess
          h2 Computer Science Engineering  |  Class of 2017 
        div(class='story-photo')
          img(class='img-circle' src='/img/temp4.svg')
            
  div(class='next-steps')
    div(class='next-steps-header')            
      div(class='host')
        h1(class='section-header') Next Steps
        hr(class='header-bar') 
    div(class='next-steps-content')
      div
        h1 Start Your Journey 
        p Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur.
        h3 Explore the majors
      div
        h1 Find Students Like You
        p Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur.
        h3 Explore the orgs
    
  
