nav.navbar {
  background-color: #006A96;
  height: 80px;
  padding: 0 10% 0 10%; }
  nav.navbar .navbar-brand {
    margin: 0; }
  nav.navbar img {
    height: 32px; }
  nav.navbar .navbar-nav {
    margin-left: 38px;
    height: 100%;
    align-items: flex-end; }
  nav.navbar .nav-item {
    margin-left: 20px; }
  nav.navbar .nav-link {
    color: white;
    font-size: 14px;
    padding-bottom: 0; }
  nav.navbar hr {
    height: 4px;
    background-color: #FC8900;
    border: none;
    margin: 22px 0 0 0; }
  nav.navbar .nav-item:not(.active) hr {
    visibility: hidden; }

footer {
  background: #006A96; }
  footer > div {
    padding: 64px 15px 64px 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    footer > div div:nth-child(1) {
      flex-grow: 1; }
    footer > div div:nth-child(2) {
      flex-grow: 2; }
    footer > div a {
      color: white;
      display: block;
      margin-bottom: 8px; }
  footer img {
    height: 24px;
    margin-bottom: 32px; }
