.home-intro {
  height: 400px;
  background: lightgray;
}

.home-intro p:nth-child(1) {
  margin: 50px 80px;
  font-size: 30;
  color: gray;
  position: absolute;
}

.home-intro p:nth-child(2) {
  margin: 100px 80px;
  color: gray;
  position: absolute;
}
