@import '../../../styles/fonts';
@import '../../../styles/vars';

.resource-card {
  background-color: #9b9b9b;
  height: 22.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 24rem;

  &-image {
    height: 13.75rem;
    object-fit: cover;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 6.5rem;
    justify-content: space-between;
    padding: 1rem;
  }

  &-title {
    @include font-subtitle-1;
    color: #fff;
  }

  &-tags {
    display: flex;
  }

  &-tag {
    @include font-small-button-text;
    background-color: #323232;
    border-radius: 1rem;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.375rem 0.75rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
