@import '../../../styles';

.resource-card {
  background-color: $color-primary-navy;
  display: flex;
  height: 16.75rem;
  margin: 0 2rem 1.5rem 0;
  width: 37rem;

  &-image {
    height: 100%;
    object-fit: cover;
    width: 15rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;

    &.visible {
      overflow: scroll;
    }
  }

  &-name {
    @include font-subtitle-1;
    color: #fff;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25rem;
  }

  &-tag {
    @include font-small-button-text;
    align-items: center;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    height: 1.75rem;
    margin: 0.75rem 0.75rem 0 0;
    padding: 0 0.75rem;

    &:last-child {
      margin-right: 0;
    }
    
    &.grass-green {
      background-color: $color-tag-grass-green;
    }
    
    &.teal {
      background-color: $color-tag-teal;
    }
    
    &.light-orange {
      background-color: $color-tag-light-orange;
    }
    
    &.lilac {
      background-color: $color-tag-lilac;
    }
    
    &.coral {
      background-color: $color-tag-coral;
    }
    
    &.light-blue {
      background-color: $color-tag-light-blue;
    }
  }

  &-view {
    @include font-linked-text;
    background: none;
    border: transparent;
    color: #fff;
    text-align: left;
    width: 8rem;

    &-arrow {
      margin-left: 0.5rem;
    }
  }

  &-hidden {
    background-color: $color-primary-navy;
    display: flex;
    flex-direction: column;
    height: 16.75rem;
    justify-content: space-between;
    left: 0;
    overflow: scroll;
    padding: 1.5rem;
    position: absolute;
    top: 16.75rem;
    transition: top 0.5s;

    &.visible {
      top: 0;
    }
  }

  &-description {
    @include font-text;
    color: #fff;
  }

  &-link {
    @include font-linked-text;
    color: #fff;
  }
}
