@import '../../../styles/fonts';
@import '../../../styles/vars';

.projects-page {
  &-heading {
    @include font-heading-2;
    margin-top: 5rem;
  }

  &-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1.5rem;
  }

  &-tag-button {
    @include font-subtitle-1;
    background-color: #fff;
    border: 0;
    border-bottom: solid 2px $color-neutrals-grey;
    color: $color-neutrals-black;
    cursor: pointer;
    flex: 1;
    padding: 1rem 1.5rem;
    transition: transform 0.2s ease, filter 0.2s ease;

    &:hover,
    &:focus-visible {
      filter: brightness(1.05);
      transform: scale(1.02);
    }

    &:focus-visible {
      outline: 3px solid $color-primary-blue;
      outline-offset: 3px;
    }

    &.select {
      border-bottom: solid 5px $color-primary-blue;
    }
  }

  &-tag-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &-text {
    @include font-text;
    margin-top: 1.5rem;
  }

  &-title {
    @include font-heading-1;
  }

  &-mobile-dropdown {
    display: none;

    .dropdown-root {
      height: 2.5rem;
      margin-top: 1rem;

      .dropdown-control {
        border-radius: 4px;
      }

      .dropdown-arrow {
        margin-top: 0.25rem;
      }
    }
  }

  @media(max-width: $site-size-small) {
    &-projects {
      justify-content: center;
    }

    &-tag-section {
      display: none;
    }

    &-mobile-dropdown {
      display: unset;
    }
  }
}
