@import 'common';

.page-header {
	background: url("/img/splashes/splash_major.jpg") no-repeat center;
	background-size: cover;
}

.pos {
	position: relative;
	bottom: 80px;
}

main {
	padding-top: 80px;
	padding-bottom: 52px;
	background: $exlightblue;

	.major-sidebar {
		@extend .nice-sidebar;

		ul {

			div {
				li {
					list-style-type: none;
				}

				li.active {
					list-style: disc;
					color: $orange;

					a {
						color: $orange;
					}
				}

				li:hover:not(.active) {
					list-style: disc;
					color: $darkblue;
					
					a {
						color: $darkblue;
					}
				}
			}
		}
	}

	.major-card {
		margin-bottom: 64px;
		box-shadow: 0 4px $shadow;

		> h1 {
			padding: 20px 0;
			font-size: 28px;
			line-height: 33px;
			background: $darkblue;
			color: white;
			font-weight: bold;
			text-align: center;
			margin-bottom: 0;
		}

		img {
			width: 100%;
			height: 398px;
			object-fit: cover;
		}

		.text {
			background: white;
			padding: 40px 64px;

			p {
				margin-top: 3px;
				margin-bottom: 0;
				font-size: 16px;
			}

			h5 {
				font-size: 13px;
				line-height: 15px;
				color: $lightblue;
				font-weight: bold;
				margin-bottom: 12px;
			}

			h4, a {
				font-size: 20px;
				line-height: 26px;
				font-weight: normal;
				margin-bottom: 32px;
				color: $textblue;
				display: block;
			}

			i {
				color: $orange;
				margin-left: 6px;
			}

			ul {
				margin-bottom: 32px;
				padding: 0;
				list-style: none;

				.link {
					font-weight: 500;
					margin-bottom: 6px;
					text-decoration: underline;
				}

				.link:hover {
					color: $orange;
				}
			}

			.more {
				ul {
					margin-bottom: 0;
				}
			}

			.expand {
				margin-top: 32px;

				.header {
					background: $darkblue;
					padding: 20px 32px;
					margin-top: 4px;
					margin-bottom: 0;
					font-size: 18px;
					line-height: 21px;
					align-items: center;
					display: flex;
					justify-content: space-between; 
					color: white;
					font-weight: bold;

					i {
						color: white;
					}
				}

				.spec {
					border: 2px solid $shadow;

					p {
						margin: 24px 32px;
					}
				}
			}
		}

		.footnote {
			background-color: $lightorange;
			padding: 24px 32px;

			.asterisk h1 {
				color: white;
				font-size: 72px;
			}

			.note {
				padding-top: 16px;
				padding-bottom: 16px;
				padding-right: 32px;

				p {
					color: white;
					font-size: 16px;
				}
			}
		}

		.pos {
			bottom: 96px;
		}
	}
}

@media (max-width: $xl) {
	main {
		.major-card {
			img {
				height: 308px;
			}

			.footnote {

				.note {
					padding-left: 15px;
				}
			}
		}
	}
}

@media (max-width: $lg) {
	main {
		padding-top: 33px;
		padding-bottom: 32px;

		.major-card {
			margin-bottom: 48px; 

			.text {
				padding: 40px 48px;

				.more {
					ul {
						margin-bottom: 32px;
					}
				}
			}

			img {
				height: 345px;
			}
		}
	}
}

@media (max-width: $md) {
	main {
		padding-top: 0;
		padding-bottom: 12px;

		.major-card {
			margin-bottom: 32px;

			h1 {
				font-size: 24px;
			}

			.text {
				padding: 32px 40px;

				.more {
					ul {
						margin-bottom: 24px;
					}
				}

				h5 {
					font-size: 12px;
					line-height: 14px;
					margin-bottom: 10px;
				}

				h4, a {
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 24px;
				}

				ul {
					margin-bottom: 24px;

					h4, a {
						margin-bottom: 5px;
					}
				}

				.expand {
					margin-top: 20px;
	
					.header {
						padding: 16px 24px;
						font-size: 16px;
						line-height: 19px;
	
						i {
							color: white;
						}
					}
	
					.spec p {	
						margin: 18px 24px;
					}
				}
			}

			.footnote {
				padding: 20px 32px;

				.asterisk h1 {
					font-size: 56px;
				}
			}

			img {
				height: 255px;
			}
		}
	}
}

@media (max-width: $sm) {
	main {
		.major-card {
			h1 {
				font-size: 20px;
			}

			.footnote {
				padding: 15px 15px;

				.mini-asterisk {
					color: white;
				}
			}
		}
	}
}