@import '../../../styles';

.org-card {
  h3 {
    color: #fff;
    padding-bottom: 8px;
  }

  &-logo {
    height: 200px;
    object-fit: contain;
    width: 100%;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25rem;
  }

  &-tag {
    @include font-small-button-text;
    align-items: center;
    border-radius: 1rem;
    color: $color-primary-navy;
    display: flex;
    flex-shrink: 0;
    font-weight: bold;
    height: 1.75rem;
    margin: 0.75rem 0.75rem 0 0;
    padding: 0 0.75rem;
    
    &:last-child {
      margin-right: 0;
    }
    
    &.white {
      background-color: $color-tag-white;
    }
    
    &.light-green {
      background-color: $color-tag-light-green;
    }
    
    &.light-yellow {
      background-color: $color-tag-light-yellow;
    }
    
    &.light-red {
      background-color: $color-tag-light-red;
    }
    
    &.light-blue {
      background-color: $color-tag-light-blue;
    }

    &.light-brown {
      background-color: $color-tag-light-brown;
    }

    &.mint {
      background-color: $color-tag-mint;
    }
  }

  &-info {
    background-color: $color-primary-navy;
    height: calc(100% - 220px);
    padding: 10px 18px;

    span {
      background-color: $color-primary-navy;
      border-radius: 14px;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 8px;
      margin-right: 4px;
      padding: 5px 10px;
    }
  }

  &-links {
    display: flex;
    margin-top: 8px;

    a {
      padding-right: 20px;
    }
  }
}
