@import '../../../styles/fonts';
@import '../../../styles/vars';

.major-page {
  &-title {
    @include font-heading-1;
  }

  &-text {
    @include font-text;
    margin-top: 1.5rem;
  }

  &-subheading {
    @include font-heading-2;
  }

  &-sidebar {
    align-self: start;
    flex-basis: 300px;
    // align-self: flex-start;
    // height: fit-content;
    // margin-top: 3rem;
    // position: sticky;
    // top: 0;

    flex-grow: 1;
    position: sticky;
    top: 0;
  }

  &-content {
    background-color: $color-background-grey;
    margin: 3rem -7rem -3rem;
    padding: 3rem 7rem;
  }

  &-scroll-content {
    // align-items: flex-start;
    display: flex;
  }

  &-link {
    @include font-subtitle-1;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: $color-neutrals-dark-grey;
    display: inline-flex;
    padding: 1rem 1.5rem;
    width: 18rem;
  }

  &-cards {
    margin-top: 3rem;
  }
}
