extends index.pug

block append style 
  link(
    rel='stylesheet'
    href ='/css/majors.css'
  )
    
block main
  div(class='title')
    div(class='host')
      h1 Stories and Advice
      h2 Let the student know that there is no one computaing path.
      <br> This is the stories page. 
      
  div(class='mainstory')
    div(class='video')
      div(class='bluebox')
      div(class='host')
        img(src='/img/temp1.svg')
    div(class='content')
      div(class='host')
        p Rachel Keinouz 
        p Math-Computer Science  |  Class of 2017
        div(class='text')
          div(class='description')
          div(class='quote')
