@import '../../../styles/fonts';
@import '../../../styles/vars';

.home-page {
  &-image {
    background-color: $color-neutrals-grey;
    flex-grow: 0;
    flex-shrink: 0;
    height: 220px;
    width: 200px;
  }

  &-majors-container {
    display: flex;
  }

  &-majors-section {
    background-color: $color-neutrals-grey;
    height: 400px;
    margin: 0 1rem;
    overflow: hidden;
    position: relative;
    width: calc(33%);

    &-description {
      @include font-subtitle-1;
      height: 100%;
      overflow: hidden;
      padding: 1rem 2rem;
    }

    &-major {
      @include font-heading-3;
      background-color: $color-neutrals-dark-grey;
      bottom: 0;
      height: 2.25rem;
      overflow: hidden;
      padding: 0.5rem 1rem;
      position: absolute;
      text-align: center;
      width: calc(100% - 2rem);
    }
  }

  &-resources {
    display: inline-flex;
    margin: 2rem 0;

    &-section {
      margin: 0 2rem;
    }
  }

  &-link-arrow {
    filter: brightness(0) invert(100%);
    margin-bottom: -0.25rem;
  }

  &-stories {
    @include font-heading-3;
    background: $color-gradients-blue-teal;
    box-sizing: border-box;
    color: #fff;
    margin: 2rem 0 2rem -7rem;
    padding: 2rem;
    width: 100vw;
  }

  &-subheader {
    @include font-heading-2;

    &.major {
      text-align: center;
    }
  }

  &-tags {
    @include font-small-button-text;
    background-color: $color-primary-mustard;
    border-radius: 1rem;
    color: #fff;
    overflow: hidden;
    padding: 0.25rem 0.8rem;
  }

  &-title {
    @include font-heading-1;
  }

  &-text {
    @include font-text;
    margin: 0.75rem 0 1rem;
  }
}
