@import '../../../styles/fonts';
@import '../../../styles/vars';

.home-page {
  &-header {
    @include font-heading-1;
    margin: 2rem 0;
  }

  &-home-button {
    @include font-subtitle-1;
    background-color: $color-primary-mustard;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 1rem 0;
    width: 190px;

  }

  &-image {
    background-color: $color-neutrals-grey;
    flex-grow: 0;
    flex-shrink: 0;
    height: 220px;
    width: 220px;

    &-circle {
      border-radius: 50%;
      height: calc(100% - 120px);
      object-fit: cover;
      object-position: left;
      width: calc(100% - 120px);
    }
  }

  &-majors-container {
    display: flex;
  }

  &-majors-section {
    background-color: $color-neutrals-grey;
    height: 400px;
    margin: 0 1rem;
    overflow: hidden;
    position: relative;
    width: calc(33%);

    &-description {
      @include font-subtitle-1;
      height: 100%;
      overflow: hidden;
      padding: 1rem 2rem;
    }

    &-major {
      @include font-heading-3;
      background-color: $color-primary-navy;
      bottom: 0;
      color: #fff;
      height: 2.25rem;
      overflow: hidden;
      padding: 0.5rem 1rem;
      position: absolute;
      text-align: center;
      width: calc(100% - 2rem);
    }
  }

  &-resources {
    align-items: center;
    display: inline-flex;
    margin-bottom: 1rem;

    &-section {
      margin: 0 2rem;
      padding-bottom: 1rem;
    }
  }

  &-link-arrow {
    filter: brightness(0) invert(100%);
    margin-bottom: -0.25rem;
  }

  &-stories {
    align-items: center;
    display: flex;

    &-gear {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &-image {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 350px;
      justify-content: center;
      position: relative;
      width: 350px;
      z-index: 0;
    }

    &-name {
      @include font-heading-3;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      padding: 0 80px;
    }

    &-name > span {
      @include font-text;
      color: $color-neutrals-dark-grey;
    }

    &-quote {
      @include font-heading-2;
      margin: 1rem auto;
      padding: 0 80px;
    }

    &-right-quote {
      left: calc(100% - 80px);
      position: relative;
    }

    &-section {
      background: $color-background-grey;
      box-sizing: border-box;
      margin: 2rem auto 2rem -7rem;
      padding: 1rem 7rem;
      width: 100vw;
    }

    &-text {
      margin: 1rem;
      padding-bottom: 1rem;
    }
  }

  &-subheader {
    @include font-heading-2;
  }

  &-title {
    @include font-display-1;
  }

  &-text {
    @include font-text;
    margin: 0.75rem 0 1rem;
  }
}

@media(max-width: $site-size-small) {
  .home-page {
    &-resources {
      flex-wrap: wrap;
      justify-content: center;

      &-section {
        margin: 2rem auto;
        width: 100%;
      }
    }
    
    &-stories {
      flex-wrap: wrap;
      justify-content: center;

      &-image {
        height: 280px;
        width: 280px;
      }

      &-left-quote {
        padding: 15px;
        width: 25px;
      }
  
      &-name {
        padding: 0 30px 0 35px;
      }

      &-quote {
        padding: 0 30px 0 35px;
      }
  
      &-right-quote {
        left: calc(100% - 25px);
        position: relative;
        width: 25px;
      }

      &-section {
        margin: 2rem auto 2rem -1.5rem;
        padding: 1rem 1.5rem;
      }
    }
  }
}
