@import '../../../styles/fonts';

.story-page {
  padding: 3rem 7rem;

  &-title {
    @include font-heading-1;
  }

  &-text {
    @include font-text;
    margin-top: 1.5rem;
  }

  &-stories {
    margin-top: 6rem;
  }
}
