$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// General website colors
$darkblue: #006A96;
$lightblue: #3D8CAE;
$textblue: #003E5C;
$exlightblue: #F6FCFE;
$aquablue :#32D0DE;
$orange: #FF7900;
$lightorange: #FFAD4C;
$shadow: #E6F1F6;
// Tag Colors
$neutral: #C6D1D7;
$palePurple: #EDABFF;
$paleBlue: #ABDBFF;
$paleRed: #FF8585;
// TODO Three more colors need to be chosen
