@import 'variables';
@import 'home/common';
@import 'home/title';
@import 'home/stories';
@import 'home/majors';
@import 'home/resources';
@import 'home/orgs';
//@import 'home/projects';


.projects {
  background-color: $exlightblue;

  /*.host > div {
      display:flex;
  }*/

  .host-wide {
      width: 100%;
  }

  .scrollIcon {
      width: 11.5%;
      text-align: center;

      i {
        color: $orange;
        margin-top: 100%;
      }
  }

  #carouselExampleIndicators {
      width: 77%;
      margin: auto;
  }

  .carouselContainer {
      display: flex;
  }

  .card-description {
      margin: 40px 40px 40px 40px;

    h4 {
      font-size: 20px;
      font-weight: bold;
      color: #003E5C;
    }

    p {
      color: #003E5C;
      padding: 10px 0px 24px 0px;
      font-size: 16px;
    }

    p:nth-of-type(2) {
        color: #003E5C;
        padding: 10px 0px 24px 0px;
        font-size: 16px;
        font-weight: bold;
    }
  }

  .project-card {
      transition: 0.3s;
      width: 360px;
      height: 500px;
      margin: 31px;
      shadow: 0px 4px;
      background-color: white;

      > img {
        height: 256px;
        width: 100%;
      }
  }

  .project-card:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  }

  .project-description {
    width: 77%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 20px;
    color: #003E5C;

    footer {
      margin-top: 64px;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 20px;
        color: $textblue;
        margin: 0;
      }

      .link-btn {
        margin-left: 100px;
      }
    }
  }
}
