@import 'variables';

.host {
  width: 80%;
  margin: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 116px;
}

.header-bar {
  width: 24px;
  height: 4px;
  background-color: $orange;
  border: none;
  margin: 16px auto 64px auto;
}

.section-header {
  color: $textblue;
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}

.link-btn {
  background: $darkblue;
  min-width: 320px;
  height: 56px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-top: 13px;
  text-align: center;
  display: block;
  border: none;
  outline: none;
}

@media (max-width: $lg) {
  .section {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .header-bar {
    margin-bottom: 48px;
  }
}

@media (max-width: $md) {
  .section {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .section-header {
    font-size: 24px;
  }

  .header-bar {
    margin: 8px auto 32px auto;
    width: 18px;
    height: 3px;
  }

  .link-btn {
    font-size: 16px;
    padding-top: 15px;
    width: 100%;
  }
}

.title {
  height: 544px;
  padding: 179px 0 179px 0;
  background: $exlightblue;

  h1 {
    color: $textblue;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  h2 {
    color: $textblue;
    font-size: 36px;
  }
}

.story {
  main {
    height: 352px;
    display: flex;

    img {
      width: 40%;
    }

    div {
      background-color: $aquablue;
      padding: 0 96px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2, h3 {
        color: white;
        display: block;
        font-weight: bold;
        line-height: 30px;
        margin: 0;
      }
      
      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 20px;
        margin-top: 30px;
      }

      span {
        font-weight: normal;
      }
    }
  }

  footer {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;
      color: $textblue;
      margin: 0;
    }

    .link-btn {
      margin-left: 100px;
    }
  }

  @media (max-width: $lg) {
    main {
      flex-direction: column;
      height: initial;

      img {
        width: 100%;
        height: 414px;
      }

      div {
        height: 266px;
      }

    }
    
    footer {
      margin-top: 48px;
      flex-direction: column;
      align-items: center;
      
      .link-btn {
        margin: 48px auto 0 auto;
      }
    }
  }

  @media (max-width: $md) {
    main {
      div {
        padding: 0 64px;
        height: 223px;

        h2, h3 {
          font-size: 18px;
        }

        h3 {
          margin-top: 10px;
        }
      }
    }

    footer {
      margin-top: 24px;

      p {
        font-size: 16px;
      }

      .link-btn {
        margin-top: 32px;
      }
    }
  }
}

.major {
  background-color: $exlightblue;

  .host > div {
    display: flex;

    > div:nth-of-type(1) {
      width: 45%;

      li {
        color: $textblue;
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: bold;
      }

      li:hover:not(.active) {
        color: $aquablue;
      }

      li.active {
        color: $orange;
      }

      .link-btn {
        margin-top: 48px;
      }
    }

    > div:nth-of-type(2) {
      width: 55%;

      img {
        height: 320px;
        width: 100%;
      }

      > div {
        display: flex;
        justify-content: space-between;

        div {
          margin: 40px 40px 0 40px;

          p {
            margin: 0;
            font-size: 20px;
            color: $textblue;
          }

          p:nth-of-type(1) {
            font-weight: bold;
          }

          p:nth-of-type(2) {
            margin-top: 10px;
          }
        }

        button {
          min-width: 112px;
          background-color: $darkblue;
          border: none;
        }
      }
    }
  }
}

.org {
  width: 100%;
  padding-left: 17.5%;
  padding-right: 16.7%;
}

.org p {
  font-size: 28px;
  margin: 0;
}

.org p:first-child {
  font-weight: bold;
}

//this is the 1st and 3rd line of orgs
.org div {
  margin: 50px 0 0 20px;
  display: flex;
  color: red;
}

//this is the second line of orgs
.org div:nth-child(5) {
  margin: 50px 0 0 -50px;
  display: flex;
  color: blue;
}

.org div p {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 50px;
}

.org div:last-child {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

//this is positioning the button in center
.org div a {
  margin: 0px auto 0px auto;
}

.projects {
  background-color: $exlightblue;

  .host > div {
      display:flex;
  }

  .projects > p:first-child {
      font-size: 32px;
      font-weight: bold;
      margin: 0;
      margin-left: 50px;
  }

  .projects > p:nth-child(2) {
      font-size: 32px;
      margin-bottom: 10px;
      margin-left: 50px;
  }

  .project-container {

  }

  h4 {
    font-size: 20px;
    color: #003E5C;
  }

  div:nth-of-type(1) > p {
    padding: 10px 0px 24px 0px;
    font-size: 16px;
  }

  .project-card {
      transition: 0.3s;
      width: 360px;
      height: 500px;
      margin: 31px;
      shadow: 0px 4px;
      background-color: #E6F1F6;

      > img {
        height: 256px;
        width: 100%;
      }
  }

  .project-card:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 40px 40px 40px 40px;
  }

  .project-description {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 24px 40px;
    font-size: 20px;
    color: #003E5C;
  }

  .more-projects-link {
    margin: 0 auto 16px auto;
    text-align: center;
  }
}

.resources {

    .host  {

        > div:nth-of-type(1) {

          div {

            p:nth-of-type(1) {
              font-size:24px;
              font-weight:bold;
              color: $darkblue;
            }

            p:nth-of-type(2) {
              font-size:18px;
              color: $darkblue;
            }
          }
       }

       > div:nth-of-type(2) {

            margin-top: 64px;

            a {
                margin: 0px auto 0px auto;
            }

        }

    }




}
