@import 'variables';

.host {
  width: 77%;
  margin: auto;
}


.section {
  padding-top: 80px;
  padding-bottom: 116px;
}

.header-bar {
  width: 24px;
  height: 4px;
  background-color: $orange;
  border: none;
  margin: 0 auto 64px auto;
}

.section-header {
  color: $textblue;
  font-size: 36px;
  margin: 0 auto 16px auto;
  text-align: center;
}

.link-btn {
  background: $darkblue;
  width: 320px;
  height: 56px;
  font-size: 18px;
  color: white;
  padding-top: 13px;
  text-align: center;
  display: block;
  border: none;
}

.title {
  height: 544px;
  padding: 179px 0 179px 0;
  background: $exlightblue;

  h1 {
    color: $textblue;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  h2 {
    color: $textblue;
    font-size: 36px;
  }
}

// .carousel-item img {
//   width: 100%;
//   height: 100%;
// }

// .carousel {
//   height: 600px;
// }

.story {
  @extend .section;

  div.host{

    > div:nth-of-type(1) {
      height: 352px;
      display: flex;

      img {
        width: 40%;
      }

      div {
        background-color: $aquablue;

        p {
          color: white;
          font-size: 24px;
          display: block;
        }

        p:nth-of-type(1) {
          margin: 12% 16% 30 16%;
        }

        p:nth-of-type(2) {
          margin: 0 16%;
        }
      }
    }

    > div:nth-of-type(2) {
      margin-top: 64px;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 20px;
        width: 60%;
      }
    }
  }
}

.major {
  @extend .section;
  background-color: $exlightblue;

  .host > div {
    display: flex;

    > div:nth-of-type(1) {
      width: 45%;

      li {
        color: $textblue;
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: bold;
      }

      li:hover:not(.active) {
        color: $aquablue;
      }

      li.active {
        color: $orange;
      }

      .link-btn {
        margin-top: 48px;
      }
    }

    > div:nth-of-type(2) {
      width: 55%;

      img {
        height: 320px;
        width: 100%;
      }

      > div {
        display: flex;
        justify-content: space-between;

        div {
          margin: 40px 40px 0 40px;

          p {
            margin: 0;
            font-size: 20px;
            color: $textblue;
          }

          p:nth-of-type(1) {
            font-weight: bold;
          }

          p:nth-of-type(2) {
            margin-top: 10px;
          }
        }

        button {
          min-width: 112px;
          background-color: $darkblue;
          border: none;
        }
      }
    }
  }
}

.org {
  width: 100%;
  padding-left: 17.5%;
  padding-right: 16.7%;
}

.org p {
  font-size: 28px;
  margin: 0;
}

.org p:first-child {
  font-weight: bold;
}

.org div {
  margin: 50px 0 0 20px;
  display: flex;
}

.org div:nth-child(4) {
  margin: 50px 0 0 -50px;
  display: flex;
}

.org div p {
  font-weight: bold;
  margin-left: 20px;
}

.org div:last-child {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}


.projects {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 12%;
    padding-right: 10%;
}

.projects > p:first-child {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    margin-left: 50px;
}

.projects > p:nth-child(2) {
    font-size: 32px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 320px;
    height: 480px;
    margin: 10px;
}

.card-container {
    display: flex;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px 20px 80px;
}

.resources {
    @extend .section;

    .host  {

        > div:nth-of-type(1) {

          div {

            p:nth-of-type(1) {
              font-size:24px;
              font-weight:bold;
              color: $darkblue;
            }

            p:nth-of-type(2) {
              font-size:18px;
              color: $darkblue;
            }
          }
       }

       > div:nth-of-type(2) {

            margin-top: 64px;

            a {
                margin: 0px auto 0px auto;
            }

        }

    }




}
