@import 'common';
@import 'index/common';
@import 'index/title';
@import 'index/stories';
@import 'index/majors';
@import 'index/resources';
@import 'index/orgs';
@import 'index/projects';

.section:nth-of-type(2n+1) {
  background-color: $exlightblue;
}

#topCarousel img {
  width: 100%;
  height: 50%;
}

.title {
  padding: 0px;
}

.title > .container-fluid {
  padding: 0px;
}