@import 'variables';

.nav-wrapper {
  background-color: $darkblue;

  nav {
    width: 80%;
    height: 80px;
    margin: auto;

    img {
      height: 32px;
    }

    .nav-link {
      color: white;
      font-size: 14px;
      margin-right: 20px;
    }

    .navbar-nav {
      margin-left: 58px;
    }

    .navbar-brand {
      margin: 0;
    }

    @media (max-width: 1050px) {
      .ucsd_logo {
        visibility: hidden;
      }
    }
  }
}

footer {
  background: $darkblue;

  > div {
    padding: 64px 15px 64px 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      flex-grow: 1;
    }

    div:nth-child(2) {
      flex-grow: 2;
    }

    a {
      color: white;
      display: block;
      margin-bottom: 8px;
    }
  }

  img {
    height: 24px;
    margin-bottom: 32px;
  }
}
