@import 'common';

main {
  padding-top: 80px;
  background: $exlightblue;

  .major-sidebar {
    @extend .nice-sidebar;

    ul {
      div {
        li {
          list-style-type: none;
        }

        li.active {
          list-style: disc;
          color: $orange;

          a {
            color: $orange;
          }
        }

        li:hover:not(.active) {
          list-style: disc;
          color: $darkblue;
          
          a {
            color: $darkblue;
          }
        }
      }
    }
  }

  .major-list-wrapper {
    > a {
      display: block;
      background: white;
      padding: 20px 0 20px 24px;
      width: 100%;
      font-weight: bold;
      font-size: 18px;
    }

    ul {
      padding: 20px 0 4px 40px;
      background: white;
      margin-top: 2px;

      li {
        list-style-type: none;
        margin-bottom: 16px;

        a {
          font-weight: bold;
          font-size: 16px;
          color: $textblue;
        }
      }

      li:hover:not(.active) {
        list-style-type: initial;
        a {
          color: $darkblue;
        }
      }

      li.active {
        list-style-type: initial;
        color: $orange;
        
        a {
          color: $orange;
        }
      }
    }
  }

  .major-card {
    > h1 {
      padding: 20px 0;
      font-size: 28px;
      background: $darkblue;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    .row {
      padding: 40px 64px;

      p {
        font-size: 16px;
      }

      h5 {
        font-size: 13px;
        color: $lightblue;
        font-weight: bold;
      }

      h4, a {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 32px;
        color: $textblue;
        display: block;
      }

      i {
        color: $orange;
        margin-left: 6px;
      }

      ul {
        margin-bottom: 32px;
        padding: 0;

        h4, a {
          margin-bottom: 6px;
        }
      }
    }
  }
}