@import 'common';

.pos {
  position: relative;
  bottom: 80px;
}

main {
  padding-top: 80px;
  padding-bottom: 52px;
  background: $exlightblue;

  .major-sidebar {
    @extend .nice-sidebar;

    ul {
      margin-bottom: 64px;

      div {
        li {
          list-style-type: none;
        }

        li.active {
          list-style: disc;
          color: $orange;

          a {
            color: $orange;
          }
        }

        li:hover:not(.active) {
          list-style: disc;
          color: $darkblue;
          
          a {
            color: $darkblue;
          }
        }
      }
    }
  }

  .major-card {
    margin-bottom: 64px;
    box-shadow: 0 4px $shadow;

    > h1 {
      padding: 20px 0;
      font-size: 28px;
      line-height: 33px;
      background: $darkblue;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 398px;
      object-fit: cover;
    }

    .row {
      background: white;
      padding: 40px 64px;

      p {
        margin-top: 3px;
        font-size: 16px;
      }

      h5 {
        font-size: 13px;
        line-height: 15px;
        color: $lightblue;
        font-weight: bold;
        margin-bottom: 12px;
      }

      h4, a {
        font-size: 20px;
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 32px;
        color: $textblue;
        display: block;
      }

      i {
        color: $orange;
        margin-left: 6px;
      }

      ul {
        margin-bottom: 32px;
        padding: 0;

        h4, a {
          margin-bottom: 6px;
        }
      }
    }

    .pos {
      bottom: 96px;
    }
  }
}