@import 'common';

.major-banner {
  height: 128px;
  background: $aquablue;
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 41px;
  margin-bottom: 0;
}

@media (max-width: $lg) {
  .major-banner {
    height: 96px;
    font-size: 28px;
    padding-top: 30px;
  }
}

@media (max-width: $md) {
  .major-banner {
    height: 72px;
    font-size: 20px;
    padding-top: 22px;
  }
}