@import 'variables';
@import 'index/common';
@import 'index/title';

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $exlightblue;
  height: 356px;
  padding: 174px 640px 116px 260px; 

  h1 {
    color: $textblue;
    font-size: 56px;
    line-height: 66px;
    font-weight: bold;
  }
}

.intro-text {
  display:flex;
  height: 450px;
  justify-content: center;
  
  h2 {
    padding: 128px 260px 160px 260px;
    color: $textblue;
    font-size: 36px;
    line-height: 54px;
  }
}

section {
  background: $exlightblue;
  padding: 80px 165px 52px 165px;
  display: block;
  justify-content: center;
  justify-content: space-between;
  
  a {
    
    .projectcard {
      height: 316px;
      display: flex;
      cursor:pointer;
      margin-bottom: 64px;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);

      img {
        width: 475px;
        height: 316px;
      }

      .cardinfo{
        background: white;
        height: 316px;
        //width: 900px;
        width: 65%;

        .cardheading {
          height: 80px;
          background: $darkblue;

          h3 {
            font-size: 24px;
            padding: 24px 1px 28px 48px;
            color: white;

            > p {
              display: inline;
              font-weight: normal;
            }
          }
        }

        .projectdescription {
          height: 184px;

          > p {
            padding: 32px 48px 39px 48px;
            font-size: 18px;
            color: $textblue;
          }
        }

        hr {
          height: 1px;
          border: 0;
          border-top: 1px solid #ccc;
          margin: 0 0;
          padding: 0;
          color: #E6F1F6;
        }

        .tags {
          margin: 14px 48px 14px 48px;
          display: flex;
          
          .colorbackground {
            background: #FF8585;
            border-radius: 50px;
            text-align: center;
            width: 154px;

            font-size: 16px;
            font-weight: bold;
            color: white;
          }

        }
      }
    }
  }
  
  a:hover {
    text-decoration: none;
  }
}