@import 'common';

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $exlightblue;
	height: 356px;
	padding: 174px 640px 116px 260px;

	h1 {
		color: $textblue;
		font-size: 56px;
		line-height: 66px;
		font-weight: bold;
	}
}

.res-banner {


	background: linear-gradient($aquablue 67%, white 33%);
	background-size: 100% 100%;
	padding-top: 80px;
	padding-bottom: 80px;

	img, .res-control-container {
		height: 518px;
	}

	img {
		width: 100%;
	}

	.carousel-inner {
		height: 567px;
	}

	.res-control-container {
		padding-top: 448px;
	}

	/* CHANGE FOR RESPONSIVENESS */
	.carousel-caption {
		left: 0;
		right: auto;
		padding-bottom: 0;
		padding-top: 0;
		height: 33px;
		bottom: -49px;

		h2 {
			font-size: 28px;
		}
	}
	/* CHANGE FOR RESPONSIVENESS */

	.carousel-control {

		.fa-arrow-right, .fa-arrow-left {
			color: $orange;
			font-size: 2.5em;
		}
	}

	@media (max-width: $xl) {
		background: linear-gradient($aquablue 62%, white 38%);

		.carousel-inner {
			height: 482px;
		}

		img, .res-control-container {
			height: 433px;
		}

		.res-control-container {
			padding-top: 360px;
		}
	}

	@media (max-width: $lg) {
		background: linear-gradient($aquablue 63%, white 37%);
		padding-top: 48px;
		padding-bottom: 48px;

		img, .res-control-container {
			height: 321px;
		}

		.carousel-inner {
			height: 361px;
		}

		.res-control-container {
			padding-top: 269px;
		}

		.carousel-caption {
			height: 28px;
			bottom: -40px;

			h2 {
				font-size: 24px;
			}
		}

		.carousel-control {

			.fa-arrow-right, .fa-arrow-left {
				font-size: 2em;
			}
		}
	}

	@media (max-width: $md) {
		background: linear-gradient($aquablue 68%, white 32%);
		padding-top: 32px;
		padding-bottom: 32px;

		img {
			height: 287px;
		}

		.carousel-inner {
			height: 319px;
		}

		.carousel-caption {
			height: 24px;
			bottom: -32px;

			h2 {
				font-size: 20px;
			}
		}
	}

	@media (max-width: $sm) {
		img {
			height: auto;
		}
	}
}

.res-banner-title{

}








	
.cards {
	background: $exlightblue;
	padding: 80px 0 84px 0;
	
	.res-card {
		margin-bottom: 32px;
		box-shadow: 0 4px $shadow;

		.header {
			/*min-height: 255px;*/
			padding: 32px 40px;
			background: $darkblue;

			h3 {
				display: inline-block;
				color: white;
				font-size: 28px;
				font-weight: bold;
				margin-bottom: 20px;
				display: flex;
				cursor: pointer;
				justify-content: space-between;
				align-items: center;
			}

			i {
				color: white;
			}
		}
		
		.map{
			img{
				width: 300px;
				height:255px;			
				display: block;
				width:100%;
				/*background: url('/img/temp1.svg') center no-repeat;*/
				/*background-size: cover;*/
			}	
		}

/*
		@media (max-width: $xl) {
			.map {
				img{
					width: 100%;
				}
			}
		}


		@media (max-width: $lg) {
			.map {
				img{
					width: 100%;
				}
			}
		}

		@media (max-width: $md) {
			.map {
					img{
						width: 100%;
				}
			}
		}

		@media (max-width: $xs) {
			.map {
				img{
					width: 100%;
				}
			}
		}
*/

	}

	.text {
		padding: 40px 64px;
		background: white;

		h1 {
			font-size: 13px;
			font-weight: bold;
		}

		p {
			margin-bottom: 24px;
		}

		a {
			font-weight: bold;

			i {
				color: $orange;
			}
		}
	}
}
