@import 'common';

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $exlightblue;
	height: 356px;
	padding: 174px 640px 116px 260px;

	h1 {
		color: $textblue;
		font-size: 56px;
		line-height: 66px;
		font-weight: bold;
	}
}

.res-banner {


	background: linear-gradient($aquablue 67%, white 33%);
	background-size: 100% 100%;
	padding-top: 80px;
	padding-bottom: 80px;

	img, .res-control-container {
		height: 518px;
	}

	img {
		width: 100%;
	}

	.carousel-inner {
		height: 567px;
	}

	.res-control-container {
		padding-top: 448px;
	}

	/* CHANGE FOR RESPONSIVENESS */
	.carousel-caption {
		left: 0;
		right: auto;
		padding-bottom: 0;
		padding-top: 0;
		height: 33px;
		bottom: -49px;

		h2 {
			font-size: 28px;
		}
	}
	/* CHANGE FOR RESPONSIVENESS */

	.carousel-control {

		.fa-arrow-right, .fa-arrow-left {
			color: $orange;
			font-size: 2.5em;
		}
	}

	@media (max-width: $xl) {
		background: linear-gradient($aquablue 62%, white 38%);

		.carousel-inner {
			height: 482px;
		}

		img, .res-control-container {
			height: 433px;
		}

		.res-control-container {
			padding-top: 360px;
		}
	}

	@media (max-width: $lg) {
		background: linear-gradient($aquablue 63%, white 37%);
		padding-top: 48px;
		padding-bottom: 48px;

		img, .res-control-container {
			height: 321px;
		}

		.carousel-inner {
			height: 361px;
		}

		.res-control-container {
			padding-top: 269px;
		}

		.carousel-caption {
			height: 28px;
			bottom: -40px;

			h2 {
				font-size: 24px;
			}
		}

		.carousel-control {

			.fa-arrow-right, .fa-arrow-left {
				font-size: 2em;
			}
		}
	}

	@media (max-width: $md) {
		background: linear-gradient($aquablue 68%, white 32%);
		padding-top: 32px;
		padding-bottom: 32px;

		img {
			height: 287px;
		}

		.carousel-inner {
			height: 319px;
		}

		.carousel-caption {
			height: 24px;
			bottom: -32px;

			h2 {
				font-size: 20px;
			}
		}
	}

	@media (max-width: $sm) {
		img {
			height: auto;
		}
	}
}

.res-banner-title{

}








	
.cards {
	background: $exlightblue;
	padding-top: 80px;

 	.card{
	/*padding: 80px 165px 52px 400px;*/
	display: block;
	justify-content: center;
	justify-content: space-between;


		/*space between each cared*/
		margin-bottom: 50px;
		a{

			/*the map image*/
			img{
				float: left;
				width:316px;
				height: 316px;
			}

      @media (max-width: $lg) {
        img {
          width: 240px;
          height: 240px;
        }
      }

			/*the rest of the card*/
			.res-card {
				height: 316px;
				display: flex;
				cursor:pointer;
				/*margin-bottom: 64px;*/
				box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);

				img {
					width: 475px;
					height: 316px;
				}

				.cardinfo{
					background: $darkblue;
					height: 316px;
					width: 100%;
					.card-head{
						height: 80px;
						background: $darkblue;

						h3 {
							font-size: 24px;
							padding: 24px 1px 28px 48px;
							color: white;

							> p {
								display: inline;
								font-weight: normal;
							}
						}
					}

					.res-card-description {
						height: 184px;
						background: white;
						> p {
							padding: 32px 48px 39px 48px;
							font-size: 18px;
							color: $textblue;
						}
					}

					hr {
						height: 1px;
						border: 0;
						border-top: 1px solid #ccc;
						margin: 0 0;
						padding: 0;
						color: #E6F1F6;
					}

					.tags {

						margin: 14px 48px 14px 48px;

						.colorbackground {
							display: inline-block;
							/*background: #FF8585;*/
							border-radius: 50px;
							text-align: center;
							width: 154px;
							font-size: 16px;
							font-weight: bold;
							color: white;
						}
						.default-tag{
							background: red;
						}

						.as-tag{
							background: red;
						}
						.as-tag.active {
							background: red;
						}
						.bs-tag{
							background: red;
						}
						.ev-tag{

						}
						.sc-tag{

						}
						.eq-tag{

						}
						.ws-tag{
							background: red;
						}

						.tag-spacer{
							display: inline-block;
							padding-right: 25px;
							padding-bottom: 25px;
						}
					}
				}
			}
		}
	}
}

.res-sidebar{
/*	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	float: left;

	padding: 50px;*/
}
