@import 'common';

.page-description {
  padding: 116px 0;
  > p {
    margin: 0;
  }
}

.story-video {
  height: 517px;
  background: #32D0DE;

  iframe {
    z-index: 2;
    position: relative;
    top: 80px;
    height: 100%;
    width: 920px;
  }
}

@media(max-width: $lg) {
  .story-video {
    height: 433px;

    iframe {
      width: 770px;
    }
  }
}

@media(max-width: $md) {
  .story-video {
    height: 338px;

    iframe {
      top: 48px;
      width: 690px;
    }
  }
}

@media(max-width: $sm) {
  .story-video {
    height: 287px;

    iframe {
      top: 32px;
      width: 510px;
    }
  }
}

.main-story {
  padding: 160px 0 116px 0;

  h2 {
    margin-bottom: 32px;
  }
}

.more-stories {
  background-color: $exlightblue;
  padding-top: 80px;

  .row {
    padding: 64px 0 80px 0;
    img {
      width: 255px;
      height: 255px;
      border-radius: 50%;
    }

    .story-content {
      padding: 32px 0;
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 10px;
        order: 2;
      }

      h3 {
        margin-bottom: 10px;
        order: 3;
      }

      h1 {
        margin-bottom: 32px;
        order: 1;
        line-height: 32px;
      }
    }
  }
}

.next-steps {
  padding: 80px 0 116px 0;

  .row {
    padding-top: 65px;
    h1 {
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 24px;
    }

    a i {
      color: $orange;
    }
  }
}

@media(max-width: $lg) {
  .more-stories {

    .row {

      img {
        width: 210px;
        height: 210px;
      }
    }
  }
}

@media(max-width: $md) {
  .main-story {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    p:nth-of-child(1) {
      font-size: 20px;
    }

    p:nth-of-child(2) {
      font-size: 18px;
    }
  }

  .more-stories {
    .row {
      padding: 32px 0 0 0;

      #center-img {
        display: flex;
        img {
          align-self: center;
        }
      }

      .story-content {
        h2 {
          text-align: center;
          order: 1;
          padding-bottom: 8px;
        }

        h3 {
          text-align: center;
          order: 2;
          padding-bottom: 16px;
        }

        h1 {
          order: 3;
          line-height: 27px;
          font-size: 20px;
        }
      }
    }
  }

  .next-steps {
    .row {
      a {
        font-size: 18px;
      }
    }
  }
}

@media(max-width: $sm) {
  .main-story {
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    p:nth-of-child(1) {
      font-size: 18px;
    }

    p:nth-of-child(2) {
      font-size: 16px;
    }
  }

  .story-content {

    h1 {
      font-size: 18px;
    }
  }

  .next-steps {
    .row {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      a {
        font-size: 16px;
      }
    }
  }
}

 /*
@media(max-width: $lg) {
  .sub-host1, .sub-host2 {
    padding-left: 16%;
    padding-right: 16%;
  }

  .sub-host3 {
    padding-left: 8%;
    padding-right: 8%;
  }


  .page-description {
    height: 500px;

    p {
      vertical-align: middle;
    }
  }

  .main-story {
    height: 1063px;


    .video {
      height: 433px;
    }

    .vid-info {
      height: 630px;
      padding: 160px 8% 0 8%;

      p:nth-of-type(1) {
        font-size: 20px;
      }

      p:nth-of-type(2) {
        font-size: 24px;
      }
    }
  }

  .more-stories {
    .story {
      height: 354px;

      .sub-host3 {

        .story-photo {
          height: 210px;
          width: 210px;
        }
        .story-content {
          padding-top: 10px;
        }
      }
    }
  }

  .left {
    .story-content {
      padding-left: 80px;
    }
  }

  .right {
    .story-content {
      padding-right: 84px;
    }
  }

}

@media (max-width: $md) {
  .sub-host1 {
    padding-left: 20%;
    padding-right: 20%;
  }

  .sub-host2, .sub-host3 {
    padding-left: 7%;
    padding-right: 7%;
  }

  .page-description {
    height: 434px;
    padding: 96px 0;
    font-size: 28px;
  }

  .main-story {
    height: 913px;

    .video {
      height: 388px;

      .sub-host2 {
        position: relative;
        top: 48px;
      }
    }

    .vid-info {
      height: 525px;
      padding: 96px 7% 0 7%;

      p:nth-of-type(1) {
        font-size: 24px;
        margin-bottom: 0;
      }

      p:nth-of-type(2) {
        font-size: 20px;
        margin-bottom: 0;
      }

      .vid-text {
        flex-direction: column;

        .description {
          order: 2;

          p {
            font-size: 18px;

          }
        }

        .quote {
          order: 1;

          p{
            font-size: 20px;
            padding-left: 5%;
            padding-right: 5%;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .more-stories {
    .story {
      height: 453px;
      padding-top: 40px;

      .sub-host3 {
        flex-direction: column;

        .story-photo {
          height: 150px;
          width: 150px;
          order: 1;
          margin: 0 auto;
        }
        .story-content {
          order: 2;
          padding-top: 32px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;

          p {
            font-size: 20px;
            padding-top: 16px;
            order: 3;
            text-align: center;
          }

          h1 {
            padding-top: 0;
            font-size: 20px;
            padding-top: 0;
            order: 1;
            text-align: center;
          }

          h2 {
            font-size: 18px;
            order: 2;
            text-align: center;
          }
        }
      }
    }

  }

  .left {
    .story-content {
      padding-left: 0px;
    }
  }

  .right {
    .story-content {
      padding-right: 0px;
    }
  }

  .next-steps-content {
    padding-bottom: 48px;
    flex-direction: column;
    align-items: center;

    div {
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }

      a {

        h3 {
          font-size: 16px;
        }
      }
    }

    div:nth-child(2) {
      margin-top: 32px;
      margin-left: 0;
    }
  }
}

@media (max-width: $sm) {
  .sub-host1 .sub-host3{
    padding-left: 14%;
    padding-right: 14%;
  }

  .sub-host2, {
    padding-left: 5%;
    padding-right: 5%;
  }

  .page-description {
    height: 308px;
    font-size: 20px;
    padding: 64px 0;
  }

  .main-story {
    height: 787px;

    .video {
      height: 287px;

      .sub-host2 {
        position: relative;
        top: 48px;
      }
    }

    .vid-info {
      height: 501px;
      padding: 68px 5% 0 5%;

      p:nth-of-type(1) {
        font-size: 20px;
      }

      p:nth-of-type(2) {
        font-size: 18px;
      }

      .vid-text {

        .description p {
          font-size: 16px;
        }

        .quote p{
          font-size: 18px;
        }
      }
    }
  }

  .stories-header {
    h1 {
      padding-top: 32px;
    }
  }

  .more-stories {
    .story {
      height: 453px;

      .sub-host3 {

        .story-content {
          padding-top: 32px;

          p {
            font-size: 18px;
          }

          h2 {
            padding-top: 0;
          }
        }
      }
    }
  }

} */
