@import 'common';
@import 'index/common';
@import 'index/title';

.page-description {
  padding: 116px 0;
  font-size: 28px;
}

.sub-host1, .sub-host2, .sub-host3 {
  padding-left: 18%;
  padding-right: 18%;
}


.img-circle {
    border-radius: 50%;
}





.main-story {
  height: 1069px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .video {
    background-color:$aquablue;
    height: 517px;

    .sub-host2 {
      position: relative;
      top: 80px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .vid-info {
    height: 557px;
    padding: 160px 11% 0 11%;

    p:nth-of-type(1) {
      color: $textblue;
      font-size: 28px;
    }

    p:nth-of-type(2) {
      color:$darkblue;
      font-size: 24px;
    }

    .vid-text {
      display: flex;
      //justify-content: space-around;

      .description {
        p {
          height: 180px;
          //width: 540px;
          font-size: 20px;
          letter-spacing: 0.4px;
          line-height: 30px;
        }
      }

      .quote {
        p {
          height: 180px;
          padding-left: 18%;
          font-size: 24px;
          letter-spacing: 0.48px;
          line-height: 36px;
        }
      }

    }

  }

}


.more-stories {
  background-color: $exlightblue;
  margin-top: none;

  .stories-header {
      background-color: $exlightblue;

      h1 {
        padding-top: 80px;
      }

  }

  .story {
    height: 399px;

    .sub-host3{
      padding-bottom: 80px;
      display: flex;

      .story-photo {
        height: 255px;
        width: 255px;
      }

      .story-content {
        padding-top:32px;

        p {
          font-size: 24px;
          color: $textblue;
          line-spacing: 0.48px;
          line-height: 36px;
        }

        h1 {
          padding-top: 32px;
          font-size: 20px;
          color: $textblue;
        }

        h2  {
          padding-top: 6px;
          font-size: 18px;
          color: $darkblue;

        }

      }
    }
  }
}

.left {
  .story-content {
    padding-left: 94px;
  }
}

.right {
  .story-content {
    padding-right: 94px;
  }
}

.next-steps-header {

  h1 {
    padding-top: 80px;
  }

}

.next-steps-content {
  padding-bottom: 116px;
  display: flex;

  div {
    color: $textblue;
    //flex-basis: 40%;
    width: 380px;

    h1 {
      font-size: 24px;
    }

    p {
      padding-top: 16px;
      padding-bottom: 24px;
      line-height:27px;
    }

    a {
      display: flex;

      h3 {
        font-size: 18px;
        color: $textblue;
        margin-right: 10px;
      }

      i{
        color: $orange;
      }
    }
  }

  div:nth-child(2) {
    //align-self: flex-end;
    margin-left: auto;
  }
}


@media(max-width: $lg) {
  .sub-host1, .sub-host2 {
    padding-left: 16%;
    padding-right: 16%;
  }

  .sub-host3 {
    padding-left: 8%;
    padding-right: 8%;
  }


  .page-description {
    height: 612px;

    div {
      padding-top: 11%;
      padding-bottom: 11%;

      h2 {
        //height: 324px;
        //width: 610px;

      }
    }

  }

  .main-story {
    height: 1063px;


    .video {
      height: 433px;
    }

    .vid-info {
      height: 630px;
      padding: 160px 8% 0 8%;
    }
  }

  .more-stories {
    .story {
      height: 354px;

      .sub-host3 {

        .story-photo {
          height: 210px;
          width: 210px;
        }
        .story-content {
          padding-top: 10px;
        }
      }
    }
  }

  .left {
    .story-content {
      padding-left: 80px;
    }
  }

  .right {
    .story-content {
      padding-right: 84px;
    }
  }

}

@media (max-width: $md) {
  .sub-host1 {
    padding-left: 20%;
    padding-right: 20%;
  }

  .sub-host2, .sub-host3 {
    padding-left: 14%;
    padding-right: 14%;
  }

  .page-description {
    height: 434px;

    div {
      padding-top: 2%;
      padding-bottom: 2%;
    }
  }


}

@media (max-width: $sm) {

}
