@import 'variables';

nav.navbar {
	z-index: 9001;
	background-color: $darkblue;
	box-shadow: 0 0 40px rgba(0,0,0,0.1);
	padding: 0 10% 0 10%;
	z-index: 1001;

	.navbar-brand {
		margin: 20px 0 20px 0;
		padding-left: 8px;
	}

	img {
		height: 32px;
	}

	.navbar-nav {
		margin-left: 30px;
		align-items: flex-end;
	}

	.nav-item {
		margin-top: 24px;
		margin-left: 20px;
	}

	.nav-link {
		color: white;
		font-size: 14px;
		letter-spacing: 0.04em;
		padding-bottom: 0;
	}

	.nav-link:active {
		color: $orange;
	}

	hr {
		height: 4px;
		background-color: $orange;
		border: none;
		margin: 24px 0 0 0;
		visibility: hidden;
	}

	.nav-link.active hr {
		visibility: visible;    
	}

	.nav-link:hover hr {
		visibility: visible;
	}

	.navbar-toggler-right {
		right: 10%;
		top: 28px;
		padding: 0;
		outline: none;

		i {
			color: white;
			font-size: 24px;
		}
	}

	@media (max-width: $lg) {
		.navbar-nav {
			margin-left: 0;
			align-items: flex-start;
		}

		hr {
			height: 0;
			margin: 0;
		}

		.nav-item {
			width: 100%;
			margin-top: 15px;
			margin-bottom: 15px;
			margin-left: 0;
			text-align: center;

			.nav-link {
				font-size: 18px;
			}
		}

		.nav-item:last-child {
			margin-bottom: 30px;
		}
	}

	@media (max-width: $md) {
		.navbar-brand {
			margin: 16px 0 16px 0;
		}

		img {
			height: 24px;
		}

		.navbar-toggler-right {
			top: 23px;

			i {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: $xl) {
	nav.navbar {
		justify-content: space-between;
	}

	#navbarSupportedContent {
		width: initial;
	}
}

footer.unique {
	background: $darkblue;
	padding: 64px 10% 64px 10%;

	a {
		color: white;
		display: block;
		margin-bottom: 8px;
	}
	
	.report {
		font-weight: 500;

		h5 {
			font-size: 14px;
			letter-spacing: 0.04em;
			color: white;
			margin-top: 0;

			@media (max-width: $sm) {
				margin-top: 20px;
			}
		}
		
		a {
			font-size: 14px;
			text-decoration: underline;
		}
	}

	img {
		height: 24px;
		margin-bottom: 32px;
	}

	.brand-ucsd {
		float: right;
	}

	@media (max-width: $sm) {

		.brand-ucsd {
			float: none;
		}
	}
}
