@import 'variables';

nav.navbar {
  background-color: $darkblue;
  padding: 0 10% 0 10%;

  .navbar-brand {
    margin: 20px 0 20px 0;
    padding-left: 8px;
  }

  img {
    height: 32px;
  }

  .navbar-nav {
    margin-left: 30px;
    align-items: flex-end;
  }

  .nav-item {
    margin-top: 24px;
    margin-left: 20px;
  }

  .nav-link {
    color: white;
    font-size: 14px;
    padding-bottom: 0;
  }

  hr {
    height: 4px;
    background-color: $orange;
    border: none;
    margin: 24px 0 0 0;
    visibility: hidden;
  }

  .nav-link.active hr {
    visibility: visible;    
  }

  .nav-link:hover hr {
    visibility: visible;
  }

  .navbar-toggler-right {
    right: 10%;
    top: 28px;
    padding: 0;
    color: white;
    outline: none;

    i {
      font-size: 24px;
    }
  }

  @media (max-width: $lg) {
    .navbar-nav {
      margin-left: 0;
      align-items: flex-start;
    }

    hr {
      height: 0;
      margin: 0;
    }

    .nav-item {
      margin: 0 0 40px 0;
    }
  }

  @media (max-width: $md) {
    .navbar-brand {
      margin: 16px 0 16px 0;
    }

    img {
      height: 24px;
    }

    .navbar-toggler-right {
      top: 23px;

      i {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: $xl) {
  nav.navbar {
    justify-content: space-between;
  }

  #navbarSupportedContent {
    width: initial;
  }
}

footer.unique {
  background: $darkblue;
  padding: 64px 10% 64px 10%;
  display: flex;
  justify-content: space-between;

  div:nth-child(1) {
    flex-grow: 1;
  }

  div:nth-child(2) {
    flex-grow: 2;
  }

  a {
    color: white;
    display: block;
    margin-bottom: 8px;
  }

  img {
    height: 24px;
    margin-bottom: 32px;
  }
}
