@import '../../../styles/fonts';
@import '../../../styles/vars';

.project-card {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  width: calc(90% - 3rem);

  &-expand-arrow {
    bottom: 1.15rem;
    position: absolute;
    right: 0.75rem;
    width: 1rem;
  }

  &-heading {
    @include font-subtitle-1;
    overflow: hidden;
    white-space: nowrap;
  }

  &-photo {
    height: 10rem;
    object-fit: cover;
  }

  &-project-tag {
    @include font-small-button-text;
    border-radius: 1rem;
    margin: 0.75rem 0.75rem 0 0;
    overflow: hidden;
    padding: 0.25rem 0.8rem;

    &.white {
      background-color: $color-tag-white;
    }
    
    &.light-green {
      background-color: $color-tag-light-green;
    }
    
    &.light-yellow {
      background-color: $color-tag-light-yellow;
    }

    &.light-red {
      background-color: $color-tag-light-red;
    }
    
    &.light-blue {
      background-color: $color-tag-light-blue;
    }

    &.light-brown {
      background-color: $color-tag-light-brown;
    }

    &.mint {
      background-color: $color-tag-mint;
    }
  }

  &-organization {
    @include font-subtitle-1;
    margin: 0.5rem 0 1.25rem;
    overflow: hidden;
    white-space: nowrap;
  }

  &-section {
    background: $color-primary-navy;
    color: #fff;
    padding: 1rem;
    position: relative;
  }

  &-section span {
    color: $color-primary-navy;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .project-card {
    width: min(calc(33% - 3rem), 22.5rem);
  }
}
